<div id="login">

<h2>Login</h2>
<br>
<form name="loginform" action="index.php" method="post">
<table style='width:350px'>
	<tr>
		<td style='width:150px'><h4>Username</h4> </td>
		<td><input type="text" name="username" value="" size="20"/><br><br></td>
	</tr>
	<tr>
		<td style='width:150px'><h4>Password</h4> </td>
		<td><input type="password" name="password" value="" size="20"/><br><br></td>
	</tr>
	<tr>
		<td style='width:150px'></td>
		<td><span style='color:#550000'>ERROR</span><br><br></td>
	</tr>
	<tr>
		<td style='width:150px'></td>
		<td><input type="submit" value="Log In" /></td>
	</tr>
</table>
</form>

</div>